@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');

:root {
    --dark-blue: hsl(233, 26%, 24%);
    --lime-green: hsl(136, 65%, 51%);
    --bright-cyan: hsl(192, 70%, 51%);
    --grayish-blue: hsl(233, 8%, 62%);
    --light-grayish-blue: hsl(220, 16%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
    --text-size: 1.5rem;
    --FF: 'Public Sans', serif;

    --PADDING: 4rem 1.5rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: var(--FF);
    overflow-x: hidden;
}

.logo {
    width: 12rem;
}

#hamburger {
    width: 2rem;
}

header {
    position: relative;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 999;
    padding: 1.5rem;
    z-index: 3;
}

header ul li {
    list-style-type: none;
    margin-block: 1rem;
}

header ul li a {
    text-decoration: none;
    font-size: var(--text-size);
    color: var(--grayish-blue);
    cursor: pointer;
}

header ul li a:hover {
    color: var(--dark-blue);
}

.header-btn {
    display: none;
}

header ul {
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 6.25rem;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    padding: 1.5rem;
    width: 90%;
    max-width: 31.25rem;
    border-radius: 0.3rem;
}

header ul.active {
    display: flex;
    z-index: 3;
}

.overlay {
    background-image: linear-gradient(to bottom, var(--dark-blue), rgba(0, 0, 139, 0));
    position: absolute;
    inset: 0;
    z-index: 1;
    display: none;
}

main {
    background: var(--very-light-gray);
}

.intro {
    height: 24rem;
}

.image-container {
    background-image: url('bg-intro-mobile.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    position: relative;
}

.image-container::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;
    background-image: url('image-mockups.png');
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center bottom;
}

/* Updated Media Queries */
@media (max-width: 27.19em) {
    .image-container::after {
        height: 90%;
        background-size: 90%;
        background-position: center bottom;
    }
}

@media (min-width: 34.38em) and (max-width: 43.69em) {
    .image-container::after {
        background-size: 80%;
    }

    .image-container {
        background-position: center bottom 2.19em;
    }
}

@media (min-width: 43.75em) {
    .image-container {
        background-position: center 4.69em;
    }

    .image-container::after {
        background-size: 75%;
    }
}

@media (min-width: 50em) {
    .intro {
        height: 30rem;
    }
    .image-container {
        background-size: cover;
        background-position: center 4.38em;
        height: 100%;
    }

    .image-container::after {
        background-size: 65%;
    }
}
